.Skills{
    background-color: rgb(245, 236, 236);
    /* border: 2px solid black; */
}


.Skills-box{
    display: inline-block;
    background-color: rgb(232 208 181);
   /* border: 2px solid black; */
   /* border-radius: 65px; */
   border-top-left-radius:158px ;
   border-bottom-right-radius: 158px;
   
   /* padding: 4px;
   margin: 10px; */
   width: 92%;
   height: 35rem;
   margin: 50px;
   margin-top: 68px;
   margin-left: 3.5rem;
   margin-bottom: 68px;
   
}
.skillbox{
    display: inline-block;
    /* border: 2px solid black; */
    width: 10%;
    height: 8rem;
    margin: 56px;
    margin-top: 15rem;
    
}


.htmlimg{
    width: auto;
    height: 8rem;
}
.cssimg{
    width: auto;
    height: 8rem;
}
.jsimg{
    width: auto;
    height: 9rem;
}
.reactimg{
    width: auto;
    height: 8rem;
}

.javaimg{
    width: auto;
    height: 8rem;
}


.skill-head{
    font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   margin-top: 27px;
    
}