@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.HOME{
    padding: 68px;
    background-color:white;
    

}



.homePage{
    text-align: center;
    /* border: 2px solid black; */
    background-color:rgb(232 208 181);
    height: 35rem;
    padding: 20px;
    padding-top: 220px;
    border-radius: 60px;
    /* justify-content: center; */
}

.head{
    font-family: 'Lobster', cursive;
}